<h3>{{ equipe?.nom}} ({{ equipe?.joueurs.length}} joueurs)</h3>
<hr>

<div class="card" *ngIf="equipe?.joueurs.length > 0">
        <div class="card-header">
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let joueur of equipe?.joueurs; let i = index">{{i+1}} - {{joueur.prenom}} {{joueur.nom}} - {{joueur.nbSelections}}
               sélections ( Né le {{joueur.dateNaissance}})</li>
        </ul>
</div>

<div class="card" *ngIf="equipe?.joueurs.length === 0">Pas de joueurs</div>
    

