<div class="card">
    <div class="card-header">
      <h4> {{poule.nom}}</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let equipe of sort(poule.equipes)"> <a [routerLink]="['/equipes/', equipe.id]">{{equipe.nom}}</a></li>
    </ul>
</div>



